<nav class="navbar navbar-expand bg-dark" data-bs-theme="dark">
	<div class="container-fluid d-flex">
		<a class="navbar-brand" role="button" routerLink="">EduPing</a>

		<div class="navbar-nav w-50 justify-content-around mx-auto">
			<a class="nav-link text-light" role="button" routerLink="home">Home</a>
			<a class="nav-link text-light" role="button" routerLink="institutions"
				>Supported Institutions</a
			>
			<a class="nav-link text-light" role="button" routerLink="about-us"
				>About us</a
			>
		</div>

		@if (user()) {
			<div class="d-flex">
				<a class="btn" role="button" routerLink="account">
					<!-- TODO account component -->
					<span class="d-flex gap-1 text-light align-items-center">
						Account
						<mat-icon> account_circle </mat-icon>
					</span>
				</a>

				<a class="btn" role="button" (click)="logout()">
					<span class="d-flex gap-1 me-3 text-light align-items-center">
						Log out
						<mat-icon> logout </mat-icon>
					</span>
				</a>
			</div>
		} @else {
			<div class="d-flex">
				<a class="btn" role="button" routerLink="register">
					<span class="d-flex gap-1 text-light align-items-center">
						Sign up
						<mat-icon> app_registration </mat-icon>
					</span>
				</a>

				<a class="btn" role="button" routerLink="login">
					<span class="d-flex gap-1 me-3 text-light align-items-center">
						Log in
						<mat-icon> login </mat-icon>
					</span>
				</a>
			</div>
		}
	</div>
</nav>
