<div class="container-fluid text-center d-flex flex-column gap-4 mt-3 pb-5">
	<h1>Stay Informed. Stay Ahead.</h1>
	<div>
		<span>
			Welcome to EduPing, your go-to platform for university notices, academic
			updates, and official announcements. Stay informed with the latest from
			your institution—all in one place.
		</span>
	</div>

	<div class="my-5">
		<app-carousel></app-carousel>
	</div>

	<span>
		📢 Official Notices – Get real-time updates on policy changes, academic
		schedules, and faculty communications.
	</span>

	<span>
		📅 Important Deadlines – Never miss a registration date, exam schedule, or
		fee payment reminder.
	</span>

	<span>
		🎓 Academic Announcements – Course updates, syllabus changes, and
		departmental news at your fingertips.
	</span>

	<span>
		🏛️ Administrative Updates – Keep track of university policies, campus
		operations, and essential services.
	</span>

	<div>👉 <a href="">[Sign Up for Instant Alerts]</a></div>
</div>
