<div
	class="d-flex flex-column align-items-stretch flex-shrink-0 gap-1 m-4 text-nowrap"
>
	<div class="d-flex align-items-center flex-shrink-0 p-3">
		<span class="fs-5 fw-semibold">List Title Placeholder</span>
	</div>
	<div class="list-group list-group-flush scrollarea gap-2">
		@for (item of items; track $index) {
			<a
				class="list-group-item list-group-item-action py-3 lh-tight bg-dark bg-gradient text-white border border-success rounded"
				role="button"
				routerLink="{{ item.endpoint }}"
			>
				<div class="d-flex w-100 align-items-center justify-content-between">
					<strong class="mb-1">{{ item.name }}</strong>
				</div>
			</a>
		}
	</div>
</div>
