<div
	class="d-flex flex-column align-items-stretch flex-shrink-0 gap-1 m-4 text-nowrap"
>
	<div class="d-flex align-items-center flex-shrink-0 p-3">
		<span class="fs-5 fw-semibold">{{ title }}</span>
	</div>
	<div class="list-group list-group-flush scrollarea gap-1">
		@for (item of items; track $index) {
			<div
				class="list-group-item list-group-item-action lh-tight bg-dark bg-gradient border border-success rounded d-flex justify-content-between align-items-center"
			>
				<div class="p-2">
					<a
						role="button"
						class="btn text-white"
						routerLink="{{ item.endpoint }}"
					>
						<strong class="">{{ item.name }}</strong>
					</a>
				</div>
				<div class="p-2">
					<a
						role="button"
						class="btn text-danger"
						(click)="deleteSubscription(item.endpoint)"
						>X</a
					>
				</div>
			</div>
		}
	</div>
</div>
